/* line 1, src/css/scss/dogfinder.scss */
body {
  font-family: Open Sans, Arial;
  font-size: 16px; }

/* line 6, src/css/scss/dogfinder.scss */
h2, h4 {
  color: #bf3d3d; }

/* line 11, src/css/scss/dogfinder.scss */
#dogSearchResults .dogResultImg {
  max-width: 100%;
  max-height: 200px;
  min-height: 200px; }

/* line 19, src/css/scss/dogfinder.scss */
#dogDetail .dogResultImg {
  max-width: 100%;
  max-height: 400px;
  min-height: 200px; }

/* line 26, src/css/scss/dogfinder.scss */
.searchSpinner, .searchSpinner img {
  height: 36px;
  width: 36px; }
