@import "../../node_modules/bootstrap/scss/bootstrap";

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

body {
  font-family: Open Sans, Arial;
  font-size: 16px;
}

h2, h4 {
  color: #bf3d3d;
}

#headerIcon {
  img {
    height: 76px;
    width: 76px;
  }
}

#dogSearchResults {
  .dogResultImg {
    max-width: 100%;
    max-height: 200px;
    min-height: 200px;
  }
}

#dogDetail {
  .dogResultImg {
    max-width: 100%;
    max-height: 400px;
    min-height: 200px;
  }
}

.searchSpinner, .searchSpinner img {
  height: 36px;
  width: 36px;
}
